body {
  min-width: 700px;
}
h1 {
  font-family: 'Lexend Deca', sans-serif;
  display: inline-block;
  font-size: 42px;
  margin-left: 5px;
  margin-top: 0px;
}
.dropdown {
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: inline-block;
  float: right;
  z-index: 1;
}
.dropbutton {
  background-color: #000;
  color: white;
  padding: 16px 29px;
  font-size: 16px;
  letter-spacing: 3px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  right: 0;
}
.dropdown-content a {
  color: black;
  font-family: 'Roboto', sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #ddd;
}
.surveythumb {
  width: 476.8px;
  height: 400px;
  z-index: -1;
}
.thumbnails {
  text-align: center;
  margin-top: 100px;
}
