.question-container {
  padding: 10px;
}
body {
background: linear-gradient(216deg, #75bf95, #6abad2, #f5adc3, #ffd775);
background-size: 400% 400%;
-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:35% 0%}
    50%{background-position:66% 100%}
    100%{background-position:35% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:35% 0%}
    50%{background-position:66% 100%}
    100%{background-position:35% 0%}
}
@keyframes AnimationName {
    0%{background-position:35% 0%}
    50%{background-position:66% 100%}
    100%{background-position:35% 0%}
}
.question {
  font-family: Avenir;
  color: white;
}
.answer {
  font-family: Avenir;
  color: white;
}
img {
  width: 300px;
  height: 240px;
  transform: rotate(90deg);
  margin-top: 45px;
  margin-bottom: 30px;
}
h1 {
  color: white;
  font-family: Avenir, sans-serif;
}
a {
  font-family: Avenir;
  color: white;
}
