
img {
  width: 383px;
  height: 416px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.two {
  left: 176px;
}
.three {
  left: 312px;
}
.four {
  left: 448px;
}
.five {
  left: 584px;
}
.six {
  left: 720px;
}
.seven {
  left: 856px;
}
.eight {
  left: 176px;
}
.nine {
  left: 992px;
}
.ten {
  left: 1128px;
}