img {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  margin-top: -250px;
}
.one {
  left: 4%;
  transform: rotate(-6deg);
}
.one:hover {
  z-index: 1;
}
.two {
  left: 11%;
  transform: rotate(1deg);
}
.two:hover {
  z-index: 1;
}
.three {
  left: 18%;
  transform: rotate(-2deg);
}
.three:hover {
  z-index: 1;
}
.four {
  left: 26%;
  transform: rotate(1deg);
}
.four:hover {
  z-index: 1;
}
.five {
  left: 33%;
  transform: rotate(5deg);
}
.five:hover {
  z-index: 1;
}
.six {
  left: 40%;
  transform: rotate(-3deg);
}
.six:hover {
  z-index: 1;
}
.seven {
  left: 47%;
  transform: rotate(-7deg);
}
.seven:hover {
  z-index: 1;
}
.eight {
  left: 54%;
  transform: rotate(2deg);
}
.eight:hover {
  z-index: 1;
}
.nine {
  left: 61%;
  transform: rotate(-5deg);
}
.nine:hover {
  z-index: 1;
}
.ten {
  left: 67%;
  transform: rotate(4deg);
}
.ten:hover {
  z-index: 1;
}
