body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
img {
  width: 40vw;
  height: 40vw;
  position: absolute;
}
.fifteen {
  left: 64vw;
  top: 47vh;
}
.sixteen {
  top: 27vh;
  left: 3vw;
}
.seventeen {
  top: 50vh;
  left: 18vw;
}
.eighteen {
  top: -3vh;
  left: 48vw;
}
.nineteen {
  top: 9vh;
  left: 33vw;
}
.twenty {
  top: 17vh;
  left: 63vw;
}
.twentyone {
  top: -7vh;
  left: -3vw;
}
.twentytwo {
  top: 62vh;
  left: 37vw;
}
.twentythree {
  top: 57vh;
  left: -5vw;
}
.twentyfour {
  top: 30vh;
  left: 31vw;
}
.twentyfive {
  top: 67vh;
  left: 3vw;
}
.twentysix {
  top: 62vh;
  left: 63vw;
}
.twentyseven {
  top: -3vh;
  left: 75vw;
}
.twentyeight {
  top: -9vh;
  left: 22vw;
}
.twentynine {
  top: 18vh;
  left: -6vw;
}
.thirty {
  top: 73vh;
  left: 50vw;
}