body {
  background-color: #d84c47;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #d84c47;
}
.box {
  width: 200px;
  height: 200px;
  background-color: black;
}
.one {
  background-color: #b33632;
}
.two {
  background-color: #621d16;
}
.three {
  background-color: #d17d59;
}
.four {
  background-color: #c32019;
}
.five {
  background-color: #cc6d4d;
}
.six {
  background-color: #d84c47;
}
.seven {
  background-color: #f2f4f3;
}
.eight {
  background-color: #d46049;
}
.nine {
  background-color: #c32019;
}
.ten {
  background-color: #d84c47;
}
.eleven {
  background-color: #c05146;
}
.twelve {
  background-color: #621d16;
}
.thirteen {
  background-color: #d17d59;
}
.fourteen {
  background-color: #d84c47;
}
.fifteen {
  background-color: #621d16;
}
